body {
  overflow-x: hidden;
}

.container__footer {
  background-color: black;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.footer__con__items {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.footer__items__logo {
  margin-top: 40px;
}

.footer__items__logo p {
  margin-top: 10px;
}

.footer__items {
  width: 240px;
}

#logos {
  width: 150px;
}

.footer__items h3 {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  color: #8dfd1b;
}

.footer__items p {
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
}

#youtube {
  width: 38px;
  height: 38px;
  margin-right: 20px;
}

#telega {
  width: 38px;
  height: 38px;
  margin-right: 20px;
}

#vk {
  width: 38px;
  height: 38px;
  margin-right: 20px;
}

#instagram {
  width: 38px;
  height: 38px;
  margin-right: 20px;
}

#visa {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

#mastercard {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

#paypal {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

#phonebook {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

#email {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

@media all and (max-width: 1440px) {
  body {
    overflow-x: hidden;
  }
}

@media all and (max-width: 1024px) {
  .footer__items p {
    font-size: 12px;
  }

  .footer__items h3 {
    font-size: 17px;
  }

  #visa {
    width: 40px;
    height: 40px;
  }

  #paypal {
    width: 40px;
    height: 40px;
  }

  #mastercard {
    width: 40px;
    height: 40px;
  }

  #vk {
    width: 30px;
    height: 30px;
  }

  #telega {
    width: 30px;
    height: 30px;
  }

  #instagram {
    width: 30px;
    height: 30px;
  }

  #youtube {
    width: 30px;
    height: 30px;
  }

  #logos {
    width: 120px;
  }

  .footer__items__logo p {
    margin: 0;
  }
}

@media all and (max-width: 768px) {
  .footer__items {
    width: 170px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer__items p {
    font-size: 10px;
  }

  .footer__items h3 {
    font-size: 15px;
  }

  #visa {
    width: 35px;
    height: 35px;
  }

  #paypal {
    width: 35px;
    height: 35px;
  }

  #mastercard {
    width: 35px;
    height: 35px;
  }

  #vk {
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }

  #telega {
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }

  #instagram {
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }

  #youtube {
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }

  #logos {
    width: 100px;
    margin-left: 10px;
  }

  .footer__items__logo p {
    margin-left: 10px;
    font-size: 12px;
  }
}

@media all and (max-width: 426px) {
  .footer__con__items {
    flex-direction: column;
    align-items: center;
  }

  .footer__items {
    margin-top: 20px;
  }

  #logos {
    margin: 0;
  }

  .footer__items__logo p {
    margin: 0;
  }
}
